<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Eat Da Burger!</h1>
		<p class="lead">Enter and order the burger you would like to eat!</p>
	</div>
</div>




<div class="container">

	<div class="row">
		<div class="input-group mb-3">
			<form class="create-form">
				<div class="form-group">

					<div class="input-group-append">
						<input type="text" id="ca" name="burger_name" placeholder="Order your burger here..."> <br>
						<button type="submit">Add Burger</button>
					</div>


					<div class="input-group-append">
						<input type="radio" name="devoured" value="1" checked> Hungry!
						<br>
						<input type="radio" name="devoured" value="0"> Devoured!
					</div>

				</div>
			</form>
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-5">
			<div class="order">
				<h2>Your Order!</h2>
				<ul>
					{{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=true}} {{/unless}} {{/each}}
				</ul>
			</div>
		</div>


		<div class="col-md-5">
			<div class="eaten">
				<h2>What you have eaten!</h2>
				<ul>
					{{#each burgers}} {{#if devoured}} {{> burgers/burger-block devoured=false}} {{/if}} {{/each}}
				</ul>
			</div>
		</div>

		<div class="col-md-1"></div>
	</div>

</div>

<br><br>